// General colors
$color_back_gen: #333333;
$color_text_gen: #faebd7;

// Main Menu
$color_back_menu: #7e9999;
$color_back_menu_item: #5178c2;
$color_text_menu_item: #000000;

// Table Tickets
$color_text_table_line: #918b8b;
