@use 'variables' as var;

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var.$color_back_gen;
    color: var.$color_text_gen;
    font-family: 'Zen Old Mincho', serif;
    font-size: 1em; 
}

@import 'mainMenu';
@import 'tableTickets';
@import 'formTickets';